/* Header for dragging */
.window-header {
  padding: 10px;
  cursor: grab;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Window content */
.window-content {
  padding: 15px;
}

#about-window {
  z-index: 10;
  left: 0px;
  top: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #f4f4f4;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/*.window-title {
  font-family: "Dongle";
  font-size: xx-large;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
*/
.close-button {
  cursor: pointer;
}

@keyframes shrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hidden {
  animation: shrink 0.5s forwards;
}

.not-hidden {
  animation: grow 0.5s forwards;
}

#about-window.hidden.not-opened {
  display: none;
}

.close-button {
  background: none;
  border: none;
}
